RQ2 filter=lfs diff=lfs merge=lfs -text
RQ4 filter=lfs diff=lfs merge=lfs -text
Tools filter=lfs diff=lfs merge=lfs -text
apis filter=lfs diff=lfs merge=lfs -text
PSDroid.run filter=lfs diff=lfs merge=lfs -text
PSDroid.sh filter=lfs diff=lfs merge=lfs -text
SourcesAndSinks.txt filter=lfs diff=lfs merge=lfs -text
AndroidCallbacks.txt filter=lfs diff=lfs merge=lfs -text
android-platforms filter=lfs diff=lfs merge=lfs -text
RQ1 filter=lfs diff=lfs merge=lfs -text
Tools/Acryl/bin filter=lfs diff=lfs merge=lfs -text
Tools/Acryl/dex2jar-2.0 filter=lfs diff=lfs merge=lfs -text
Tools/Acryl/ruleset-builder filter=lfs diff=lfs merge=lfs -text
Tools/Acryl/src filter=lfs diff=lfs merge=lfs -text
Tools/Acryl/target filter=lfs diff=lfs merge=lfs -text
Tools/Acryl/ACRYL.sh filter=lfs diff=lfs merge=lfs -text
RQ3/AcrylResults filter=lfs diff=lfs merge=lfs -text
RQ3/CIDERResults filter=lfs diff=lfs merge=lfs -text
RQ3/dataset.csv filter=lfs diff=lfs merge=lfs -text
RQ3/FicFinderResults filter=lfs diff=lfs merge=lfs -text
RQ3/IctAPIFinderResults filter=lfs diff=lfs merge=lfs -text
RQ3/PSDroidResults filter=lfs diff=lfs merge=lfs -text
RQ3/CiD+Results/ filter=lfs diff=lfs merge=lfs -text
RQ3/CiD+Results/CiD+results.zip filter=lfs diff=lfs merge=lfs -text
